<% personal ||= false %>
<% caption = personal ? :personal_lists : :global_lists %>

<div class="panel lists">
  <div class="caption">
    <%= t caption %>
  </div>

  <ul>
    <% if lists.none? %>
      <div>
        <%= t :no_saved_lists %>
      </div>
    <% else %>
      <% lists.sort.each_with_index do |item, i| %>
        <li class="item <%= i < lists.size - 1 ? "" : "last" %>">
          <dt>
            <%= link_to(truncate(item.name, :length => 25), h(item.url), :title => item.name) %>
          </dt>

          <tt>
            <%= link_to(url_for(item), :method => :delete, :confirm => t(:confirm_delete, value: 'list'), :remote => true, :class => "list_icon delete_on_hover") do %>
              <i class="fa <%= "data-controller" => item.controller %> <%= get_icon(item.controller)} %>"></i>
            <% end %>
          </tt>
        </li>
      <% end %>
  </ul>

  <div class="list_save" <%= hidden_if(!params[:q]) %>>
    <%= link_to(t(:make_current_view_list), '#') %>
  </div>

  <div class="list_form" hidden>
    <%= simple_form_for(List.new, :remote => true) do |f| %>
      <%= f.text_field :name, :size => 25 %>
      <%= image_tag("info_tiny.png", :title => t(:list_name_info), class: "input_info") %>
      <%= f.hidden_field :url
      %input{:type => "hidden", :name => "is_global", :value => (personal ? 0 : 1) } %>

      <div>
        <%= f.submit( t(:save) ) %>
        <%= t :or %>
        <%= link_to(t(:cancel), '#', :class => "cancel") %>
      </div>
    <% end %>
  </div>
</div>
