<li>
  <span class="black">
    <strong><%= plugin.name%></strong>
  </span>
  <tt>
    <dt style="padding: 2px 0 0 0">
      <%= t('.author') + ":"%>
      <strong><%= plugin.author%></strong>
      <br>
      <%= t('.version') + ":"%>
      <strong><%= plugin.version%></strong>
      <br>
      <%= t('.description') + ":"%>
      <%= plugin.description%>
    </dt>
  </tt>
</li>
