<div class="search">
  <div class="tabs">
    <ul>
      <li>
        <%= link_to t('basic_search'), '#',    :"data-search-form" => "basic_search",    :class => (params[:q]  ? "" : " active")%>
      </li>
      <li>
        <%= link_to t('advanced_search'), '#', :"data-search-form" => "advanced_search", :class => (!params[:q] ? "" : " active")%>
      </li>
    </ul>
    <div id="search_results_count">
      <%= t('search_results_count', :count => @search_results_count)%>
    </div>
  </div>
  <div class="search_form" id="basic_search" style="<%=(params[:q] ? 'display: none;' : '')%>">
    <%= render "basic_search"%>
  </div>
  <div class="search_form" id="advanced_search" style="<%=(!params[:q] ? 'display: none;' : '')%>">
    <%= ransack_ui_search :remote => true %>
  </div>
</div>