<div class="remote">
  <%= form_for(@user, :url => change_password_user_path(@user), :html => one_submit_only, :remote => true) do |f| %>
    <%= link_to_close password_user_path(@user) %>

    <%= f.error_messages :object_name => t('password') %>

    <div class="section">
      <table>
        <tr>
          <td>
            .label.req.top #{t :current_password}:
            <%= password_field_tag :current_password, nil %>
          </td>

          <td colspan="2"><%= spacer %></td>
        </tr>

        <tr>
          <td>
            <div class="label req">
              <%= t :new_password %>:
            </div>

            <%= f.password_field :password %>
          </td>

          <td><%= spacer %></td>

          <td>
            <div class="label req">
              <%= t :password_confirmation %>:
            </div>

            <%= f.password_field :password_confirmation %>
          </td>
        </tr>
      </table>
    </div>

    <div class="buttonbar">
      <%= f.submit t(:change_password) %>
      <%= t :or %>
      <%= link_to_cancel password_user_path(@user) %>
    </div>
  <% end %>
</div>
<br>
