<%= image_tag("loading.gif", size: 'thumb', class: "spinner", style: "display: none;") %>
<%= paginate %>

<div class="per_page_options">
  <span class="per_page_label">
    <%= t('entities_per_page', :entity => t(controller_name)) %>
  </span>

  <% [ 10, 20, 30, 50 ].each do |count| %>
    <% if count == @per_page.to_i %>
      <em class="current">
        <%= count %>
      </em>
    <% else %>
      <%= link_to count, send("redraw_#{controller.controller_name}_path", per_page: count, query: params[:query], q: params[:q]), remote: true %>
    <% end %>
  <% end %>
</div>
