<% edit ||= false %>
<% collapsed = session[:lead_status].nil? %> <%# && @lead.errors.empty? %>
<%= subtitle :lead_status, collapsed, t(:status) %>

<div class="section">
  <small id="lead_status_intro" <%= hidden_if(!collapsed) %>></small>
    <%= t(:intro, t(:lead_status_small)) unless edit %>
  <div id="lead_status" <%= hidden_if(collapsed) %>>
    <table>
      <tr>
        <td>
          <div class="label top">
            <%= t :assigned_to %>:
          </div>

          <%= user_select(:lead, all_users, current_user) %>
        </td>

        <td><%= spacer %></td>

        <td>
          <div class="label top">
            <%= t :status %>:
          </div>

          <%= f.select :status, lead_status_codes_for(@lead), { :selected => (@lead.status || "new").to_sym }, { :style => "width:160px" } %>
        </td>

        <td><%= spacer %></td>

        <td>
          <div class="label top">
            <%= t :rating %>:
          </div>
          
          <%= rating_select "lead[rating]", { :id => :lead_rating, :selected => @lead.rating, :style => "width:160px" } %>
        </td>
      </tr>

      <tr>
        <td>
          <div class="label">
            <%= t :source %>:
          </div>

          <% if @campaign && !edit %> <%# Create a lead from Campaign landing page: select :campaign as a source and disable the dropdown. %>
            <%= f.select :source, Setting.unroll(:lead_source), { :selected => :campaign }, { :style => "width:160px;", :disabled => true } %>
            <%= hidden_field_tag "lead[source]", "campaign" %>
          <% else %>
            <%= f.select :source, Setting.unroll(:lead_source), { :selected => (@lead.source || "other").to_sym }, { :style => "width:160px" } %>
          <% end %>
        </td>

        <td><%= spacer %></td>

        <td>
          <div class="label">
            <%= t :campaign %>:
          </div>

          <% if @campaign && !edit %> <%# Create a lead from Campaign landing page: select current campaign and disable the dropdown. %>
            <%= collection_select :lead, :campaign_id, @campaigns, :id, :name, { :selected => @campaign.id }, { :style => "width:100%", :disabled => true } %>
          <% else %>
            <%= collection_select :lead, :campaign_id, @campaigns, :id, :name, { :selected => @lead.campaign_id, :include_blank => t(:select_none) }, { :style => "width:100%", :onchange => "crm.flip_campaign_permissions(this.value)" } %>
          <% end %>
        </td>
      </tr>
    </table>
  </div>
</div>
