<%= styles_for :lead %>

<%= render 'entities/title_bar' %>

<div class="remote" id="create_lead" hidden></div>

<%= render 'search' %>

<div class="remote" id="options" hidden></div>

<div class="list" id="leads">
  <% if @leads.any? %>
    <%= render @leads %>
  <% else %>
    <%= render "shared/empty" %>
  <% end %>
</div>

<div id="paginate">
  <%= render "shared/paginate_with_per_page" %>
</div>

<div id="export">
  <%= render "shared/export" %>
</div>
