<% edit ||= false %>
<% collapsed = session[:contact_extra].nil? %> <%# && @contact.errors.empty?%>
<%= subtitle :contact_extra, collapsed, t(:extra_info) %>

<div class="section">
  <small id="contact_extra_intro" style=<%"display: none;" unless collapsed%>>
    <%= t(:intro, t(:extra_info_small)) unless edit %>
  </small>
  <div id="contact_extra" style=<%"display: none;" if collapsed%>>
    <table>
      <%= hook(:contact_extra_details_form, self, :f => f) do %>
        <tr>
          <td>
            <div class="label">
              <%= t :job_title%>:
            </div>
            <%= f.text_field :title%>
          </td>
          <td>
            <%=spacer%>
          </td>
          <td>
            <div class="label">
              <%= t :department%>:
            </div>
            <%= f.text_field :department %>
          </td>
        </tr>
        <tr>
          <td>
            <div class="label">
              <%=t :alt_email%>:
            </div>
            <%= f.text_field :alt_email%>
          </td>
          <td>
            <%=spacer%>
          </td>
          <td>
            <div class="label">
              <%=t :mobile %>
            </div>
            <%= f.text_field :mobile %>
          </td>
        </tr>
        <tr>
          <td>
            <%= render "shared/address", :f => f, :asset => @contact, :type => 'business', :title => :address%>
          </td>
          <td>
            <%= spacer %>
          </td>
          <td>
            <div class="label">
              <%=t :fax%>:
            </div>
            <%= f.text_field :fax %>
            <div style="margin-top:6px">
              <div class="check_box">
                <%= f.check_box :do_not_call, {}, true %>
                <%=t :do_not_call%>
              </div>
            </div>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>