<% collapsed = session[:contact_show_extra].nil? %> <%# && contact.errors.empty?%>
<%= section_title :contact_show_extra, collapsed, t(:extra_info), t('show_extra_info_small') %>

<div class="show_fields">
  <div id="contact_show_extra" style=<%"display: none;" if collapsed%>>
    <table class="asset_attributes">
      <tr>
        <%= col(t(:title), contact.title) %>
        <%= col(t(:department), contact.department) %>
      </tr>

      <tr>
        <%= col(t(:alt_email), contact.alt_email, false, true) %>
        <%= col(t(:mobile), contact.mobile) %>
      </tr>

      <tr>
        <%= col(t(:fax), contact.fax) %>
        <%= col(t(:do_not_call), contact.do_not_call == false ? "no" : "yes") %>
      </tr>

      <tr>
        <th><%=t(:address) + ":"%></th>
        <td><%= web_presence_icons(contact)%></td>
        <%= col(t(:permissions), (contact.permissions.empty? ? t(:shared_with_everyone) : contact.permissions.join(", ")))%>
      </tr>

      <% if Setting.background_info && Setting.background_info.include?(:contact) %>
        <tr>
          <%= col(t(:background_info), contact.background_info) %>
        </tr>
      <% end %>
    </table>
  </div>
</div>