<div class="section">
  <%= f.hidden_field :klass_name %>
  <table>
    <tr>
      <td>
        <div class="label top req">
          <%= t(:label) + ":" %>
        </div>
        <%= f.text_field :label %>
      </td>
      <td>
        <%= spacer %>
      </td>
      <td>
        <div class="label top">
          <%=t(:restrict_by_tag)%>
          <small>
            <%= t(:restrict_by_tag_info, :assets => f.object.klass_name.downcase.pluralize) %>
          </small>
        </div>
        <%= f.select :tag_id, Tag.all.map { |tag| [tag.name, tag.id] }, :include_blank => true %>
      </td>
    </tr>
  </table>
</div>
