<% edit ||= false %>
<% collapsed = session[:campaign_objectives].nil?%> <!--&& @campaign.errors.empty? -->
<%= subtitle :campaign_objectives, collapsed, t(:objectives) %>

<div class="section">
  <small id="campaign_objectives_intro" style=<%"display:none;" unless collapsed%>>
    <%= t(:intro, t(:objectives_small)) unless edit%>
  </small>
  <div id="campaign_objectives" style=<%"display:none;" if collapsed%>>
    <small>
      <%= t :objectives_help%>
    </small>
    <table>
      <tr>
        <td>
          <div class="label">
            <%=t :number_of_leads%>:
          </div>
          <%= f.text_field :target_leads, :style => "width:110px; text-align:right;" %>
        </td>
        <td>
          <%= spacer%>
        </td>
        <td>
          <div class="label">
            <%= :revenue_label %>:
          </div>
          <%= f.text_field :target_revenue, :value => @campaign.target_revenue ? @campaign.target_revenue.to_i : "", :style => "width:110px; text-align:right;"%>
        </td>
        <td>
          <%= spacer%>
        </td>
        <td>
          <div class="label">
            <%= :budget_label %>:
          </div>
          <%= f.text_field :budget, :value => @campaign.budget ? @campaign.budget.to_i : "", :style => "width:110px; text-align:right;" %>
        </td>
      </tr>
      <tr>
        <td colspan="7">
          <div class="label">
            <%= :objectives %>:
          </div>
          <%= f.text_area :objectives, :style => "width:500px", :rows => 2 %>
        </td>
      </tr>
    </table>
  </div>
</div>